body{
    background-color: hsl(270, 100%, 30%);
}

.history-container {
    margin-top: 20px;
}

.card+.card {
    margin-top: 20px;
    /* Adds spacing between cards */
}

.correct-answer {
    background-color: #d4edda;
    /* Light green background */
    border-color: #c3e6cb;
    /* Green border */
}

.incorrect-answer {
    background-color: #f8d7da;
    /* Light red background */
    border-color: #f5c6cb;
    /* Red border */
}

.list-group-item {
    position: relative;
    /* Ensure proper stacking of list group items */
}

.align-items-start {
    align-items: flex-start !important;
}