/*Styling for the header h1*/
h1 {
    color: #333;
}

/*Styling the container that holds the quizzes*/
.container {
    width: 100%;
    max-width: 690px;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 40px;
    box-shadow: 0 0 10px 2px;
    margin: 30px auto 0;
}

body {
    background-color: hsl(270, 100%, 30%);
}

/*Styling applied to each quis*/
.quiz-selection {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /*create the 2 columns of quizzes*/
    gap: 40px; /*spacing in between each quiz*/
}

/*styling for each quiz card*/
.quiz-card {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.quiz-card .card-img-top {
    width: 100%;
    height: auto;
    box-shadow: 3px 3px #333;
    border-color: red;
    border-radius: 10px;
}

.quiz-card .card-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: center;
}

/*hover effect on each card*/
.quiz-card:hover .card-body {
    opacity: 1;
    border-radius: 10px;
}

/*stying for the view quiz history button*/
.btn-info {
    margin-top: 20px;
}