body {
  background-color: hsl(270, 100%, 30%);
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 20px;
  font-size: 32px;
  color: #000000;
}

.container {
  width: 100%;
  max-width: 1500px;
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  padding-bottom: 40px;
  box-shadow: 0 0 10px 2px;
  margin: 30px auto 0;
}

.quiz-button {
  padding: 3rem 10rem;
  font-size: 1.5rem;
  width: 500px;
  height: 200px;
}

#quizTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #000000;
}

#imageContainer {
  display: flex;
  justify-content: center;
}
#imageContainer img {
  height: 200px;
  width: 400px;
}
